/* Style for the button */
.home-button {
    position: fixed; /* Position the button relative to the viewport */
    top: 20px; /* Distance from the top edge of the viewport */
    left: 20px; /* Distance from the left edge of the viewport */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
}

.info-button{
    position: fixed; /* Position the button relative to the viewport */
    top: 20px; /* Distance from the top edge of the viewport */
    left: 175px; /* Distance from the left edge of the viewport */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
}
.task-button{
    position: fixed; /* Position the button relative to the viewport */
    top: 20px; /* Distance from the top edge of the viewport */
    left: 350px; /* Distance from the left edge of the viewport */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

form {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}