/* Style for the button */
.home-button {
    position: fixed; /* Position the button relative to the viewport */
    top: 20px; /* Distance from the top edge of the viewport */
    left: 20px; /* Distance from the left edge of the viewport */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
}

.info-button{
    position: fixed; /* Position the button relative to the viewport */
    top: 20px; /* Distance from the top edge of the viewport */
    left: 175px; /* Distance from the left edge of the viewport */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
}
.task-button{
    position: fixed; /* Position the button relative to the viewport */
    top: 20px; /* Distance from the top edge of the viewport */
    left: 350px; /* Distance from the left edge of the viewport */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
}


body {
    font-family: Arial, sans-serif;
}

.container {
    text-align:center;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    padding-top: 100px;
    text-align: center;
}

.input-section {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 80px;
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#progressBarContainer {
    margin-top: 20px;
}

#progressBar {
    width: 100%;
}

#progressText {
    text-align: center;
    margin-top: 5px;
}
